<h1>Team</h1>

<% @profiles.each do |profile| %>
    <h2><%= profile.name %></h2>
    <%= image_tag profile.photo.url(:thumb), :class => 'img' %> 
    <div class="description">
      <%= textilize profile.description %>
      <p><%= profile.site %></p>
    </div>
<% end %>

<br />

