<h2>your profile</h2>
<%= form_for @profile, :url => { :action => 'create' }, :method => :post do |f| %>  
  <%= error_messages_for @profile %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
<%= link_to 'Back', :back %>
