@import "reset.css";
@import "common.css";

h2 {
  font-size: 20px;
  color: #484B52;
  border-bottom: 2px solid #E7E7E7;
  margin-bottom: 30px;
  padding-bottom:15px;
}

body {
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: #E7E7E7 !important;
  text-align:center;
}

a {
  color: #1C4FAD;
  text-decoration: none;
}

div#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  position: relative;
}

/* header */

div#header #main-nav ul {
  overflow: hidden;
  list-style: none;
}

div#header #main-nav li {
  display: inline;
  float: left;
  line-height: 12px;
  margin-right: 10px;
  padding: 8px;
  font-weight: bold;
  background: #62BDEB;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  box-shadow: 0 1px 1px #FFF;
  -moz-box-shadow: 0 1px 1px #FFF;
  -webkit-box-shadow: 0 1px 1px #FFF;

  text-shadow: 1px 1px 1px #10526F;
  font-weight: bold;
  border: 1px solid #4A87A2;
  background-image: -moz-linear-gradient(100% 100% 180deg, #00B2D2, #0082AF);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00B2D2), to(#0082AF));
}

div#header #main-nav li a { color: #FFF; }

div#header #main-nav li.current { 
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #cccccc;
  color: #666;
  background-image: -moz-linear-gradient(100% 100% 180deg, #f0f0f0, #d9d9d9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#d9d9d9));
}

div#header #main-nav li.current a {
  color: #666;
}

/* content */

div#content {
  background: #FFF;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  box-shadow: 0 10px 4px #BBB;
  -moz-box-shadow: 0 4px 4px #BBB;
  -webkit-box-shadow: 0 0px 5px #A5A5A5;

  padding:5px 20px 20px 20px;
  margin: 20px 5px;
  overflow: hidden;
}

/* sidebar*/
div#body {
  float: left;
  width: 640px;
}

div#sidebar{
  background: #F4F5F6;
  width: 250px;
  float: right;
  border:1px solid #DDD;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 12px;
  color: #777777;
  margin-left:10px;
}

#sidebar .section h3{
  color: #666;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 5px 0;
  padding: 7px 9px;
  text-shadow: white 0px 1px 1px;
}

#sidebar .field {
  margin: 10px 5px 10px 5px;
}

#sidebar .section .in{
  margin: 0 10px;
  overflow:hidden;
}

#sidebar ul.categories-field {
  background:#FFF;
  border:#DDD solid 1px;
  padding: 5px; list-style: none;
}

#sidebar ul.categories-field li{
  line-height:25px;
}

#sidebar hr{
  border:none;
  border-top:1px solid #DDD;
  border-bottom:1px solid #FFF;
}

#sidebar textarea, #sidebar input, #sidebar select {
  font-size:12px;
}

/* sidebar media section */

#sidebar .media img {
  border:4px solid #FFF;
  margin: 0 4px 4px 0;
}


/* form */

label {
  font-weight: bold;
  color: #666;
}

textarea, input[type="text"], input[type="password"], input[type="file"], select {
  background: white url(/images/input_bg.gif) repeat-x 50% 0%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  font-size: 15px;
}

input[type="file"] {
  background: none;
  border:none;
}

div.field{
  margin-bottom: 20px;
}

textarea, input, select {
  margin: 1px;
  padding: 3px
}

input, select { line-height: 15px; }

textarea { width: 98%; }

input.title {
  font-size:22px;
  width: 98%;
}

/* misc */

table.grid  {
  border-collapse:collapse;
  width: 100%;
}

table.grid  td {
  padding: 7px;
}

ul.list  { list-style: none; color: gray; }
.list li { padding: 7px; }

.button {
  font-size: 11px;
  display: inline-block;
  padding: 3px 5px 3px;
  text-decoration: none;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  box-shadow: 1px 1px 0px #FFF;
  -moz-box-shadow: 1px 1px 0px #FFF;
  -webkit-box-shadow: 1px 1px 0px #FFF;

  text-shadow: 1px 1px 1px #FFF;
  font-weight: bold;
  border: 1px solid #cccccc;
  position: relative;
  cursor: pointer;
  color: #666;
  background-image: -moz-linear-gradient(100% 100% 180deg, #f0f0f0, #d9d9d9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#d9d9d9));
}

.button:hover  {
  background-image: -moz-linear-gradient(100% 100% 180deg, #d9d9d9, #f0f0f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#f0f0f0));
}

.button:active { top: 1px; }

.bar {
  overflow: hidden;
  position: relative;
  padding: 3px 0 3px 0;
}

tr { padding: 7px; }


.comment {
  margin-bottom: 50px;
    font-size: 14px;
}

.comment .author {
  overflow:hidden;
}

.comment .author .avatar img{
  border: 2px solid #e2e2e2;
  padding: 5px;
}

.comment .author .avatar {
  float: left;
}

.comment .author .meta {
  float: left;
  margin-top:10px;
  font-size: 18px;
  color: #5e6162;
  margin-left: 20px;
}

.comment .author .data {
  font-size: 11px;
  color: #9b9e9f;
}

.comment .body {
  margin: 10px 10px 10px 80px;
}

.published_at {
  font-size: 11px;
  color: #9b9e9f;
  text-align: right;
}
.img { border: 2px solid #FFF; float:left; margin: 20px 20px 0 0; width: 160px; height: 150px; overflow: hidden }

/** WYSIWYG **/
div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; }
div.wysiwyg * { margin: 0; padding: 0; }

div.wysiwyg ul.panel { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 0 0 0 0; }
div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 1px 2px 3px 0;  background: #ffffff;}
div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a { text-indent: -5000px; opacity: 0.85; filter:alpha(opacity=85); display: block; width: 16px; height: 16px; background: url('../images/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 1.00; filter:alpha(opacity=100); }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }

div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }

div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }

div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }

div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }

div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }

div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }

div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }

div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }

div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }

div.wysiwyg ul.panel li a.html { background-position: -47px -46px; }
div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -63px; }

div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }

div.wysiwyg iframe { border: 0;  clear: left; margin: 4px 0 0 1px; }



/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
.date {
	border:1px solid #ccc;
	font-size:18px;
	padding:4px;
	text-align:center;
	width:194px;		
	-moz-box-shadow:0 0 10px #eee inset;
}

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:1;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#7C841F;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(../images/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(../images/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#7C841F;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}




