<h2><%= t("Users") %></h2>

<div class="block">
  <ul class="list">
    <% @users.each do |u| %>
      <%= content_tag_for :li, u, :class => cycle(:odd, :even) do %>
        <%= u.name %>

        <div class="right"><%= u.posts.size %></div>
      <% end %>
    <% end %>
  </ul>
  <br />

</div>
