<div id="menu">
	<ul>
  	<li><%= link_to "Home", root_path %></li>  
    <li><%= link_to t("Team"), team_path %></li>  
    <li><%= link_to t("About"), about_path %></li>  
  </ul>
</div><!-- menu -->
