<!DOCTYPE html>
<html>
<head>
  <title>Bowling</title>
  <%= stylesheet_link_tag "theme", "scaffold" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="wrapper">
    <%= yield %>
	</div>
</body>
</html>
