<!DOCTYPE html>
<html>
<head>
  <title>Bowling</title>
  <%= stylesheet_link_tag "theme", "scaffold" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="wrapper">
    <div class="block small center login">
	    <div class="block_content">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => name if msg.is_a?(String) %><br />
        <%- end -%>
        <%= yield %>
    	</div>
	  </div>
	</div>
</body>
</html>
